.app-container{
  display: flex;
}
.content{
  width: 80%;
}
.sidebar{
  height:700px;
}
.form{
  
  margin:10px;
  padding:10px;
  max-width: fit-content;

  border:1px solid lightgray;
  border-radius: 2px;
}
.input{
  overflow: scroll;
}